<header>
  <a class="title" ng-href="{{item.url}}">{{item.title}}</a>
  <span class="domain" ng-show="item.url">({{item.url | domain}})</span>
</header>
<section class="section__bottom">
  by <a ui-sref="user({userID: item.by})" class="url">{{item.by}}</a> |
  <span time-ago="{{item.time}}" class="time"></span>
  <span ng-if="item.text" ng-click="toggle.expand()" class="expand">| expand</span>
</section>

<article class="content" ng-show="expandItem && item.text"
  ng-bind-html="item.text | trustHtml"></article>