<spinner class="item-loading" ng-if="!user"></spinner>

<div class="user-detail" ng-if="user">
  <p>user: {{user.id}}</p>
  <p>created: <span time-ago="{{user.created}}"></span></p>
  <p>karma: {{user.karma}}</p>
  <p ng-if="user.delay">delay: {{user.delay}} minutes</p>
  <p>about: <span ng-bind-html="user.about |trustHtml"></span></p>

  <p>
    <a class="u-pointer" ng-click="showSubmissions = !showSubmissions">show submitted</a>
    <div ng-if="showSubmissions">
      <pagination page="currentPage" page-size="pageSize" total-items="user.submitted.length"></pagination>
      <div class="user-detail-item" ng-repeat="submission in user.submitted | page:currentPage:pageSize">
        <item id="submission" load-children="false"></item>
      </div>
    </div>
  </p>
</div>