<spinner ng-if="!user"></spinner>

<div class="user-detail" ng-if="user">
  <header class="user__top">
    <div class="karma">karma<span>{{user.karma}}</span> points</div>
    <h1>{{user.id}}</h1>
  </header>

  <section class="bio">
    <p ng-if="user.delay">delay {{user.delay}} minutes</p>
    <p>member since {{user.created*1000 | date:'d MMMM yyyy, HH:mm:ss'}}</p>
    <section ng-if="user.about" ng-bind-html="user.about |trustHtml"></section>
  </section>

  <span class="submissions-btn" ng-click="toggleSubmissions()">
    {{showSubmissions ? 'hide' : 'show'}} submissions
  </span>
</div>
<div ng-if="showSubmissions">
  <div ng-repeat="submission in user.submitted | page:currentPage:pageSize"
    item item-id="submission" load-children="false">
  </div>
  <pagination page="currentPage" page-size="pageSize"
    total-items="user.submitted.length">
  </pagination>
</div>