<spinner class="item-loading" ng-if="!item"></spinner>

<div class="item-container" ng-if="item && !item.deleted">

  <div class="story" ng-if="item.type=='story'">
    <header>
      <a class="title" ng-href="{{item.url}}">{{item.title}}</a>
      <span ng-hide="!item.url" class="domain">({{item.url | domain}})</span>
    </header>
    <section>
      {{item.score}} points by
      <a ui-sref="user({userID: item.by})">{{item.by}}</a>
      <span time-ago="{{item.time}}"></span> |
      <a ui-sref="discussion({discussionID: item.id})">{{item.descendants | commentsNumber}}</a>
    </section>
    <section ng-hide="!item.text" ng-bind-html="item.text | trustHtml"></section>
  </div>

  <div class="comment" ng-if="item.type=='comment'">
    <header>
      <span class="hide-item" ng-click="toggleHideItem()" ng-if="!item.topLevel">
        [{{hideItem ? '+' : '-'}}]
      </span>
      <a ui-sref="user({userID: item.by})" class="author">{{item.by}}</a>
      <span time-ago="{{item.time}}"></span> |
      <a ui-sref="discussion({discussionID: item.id})">link</a>
    </header>
    <section class="content" ng-hide="!item || hideItem" ng-bind-html="item.text | trustHtml"></section>
    <div class="children" ng-if="loadChildren && !hideItem">
      <li ng-repeat="kid in item.kids">{{kid}}</li>
    </div>
  </div>

  <div class="job" ng-if="item.type=='job'">
    <header>
      <a class="title" ng-href="{{item.url}}">{{item.title}}</a>
      <span class="domain" ng-show="item.url">({{item.url | domain}})</span>
    </header>
    <section>
      | by <a ui-sref="user({userID: item.by})">{{item.by}}</a>
      <span time-ago="{{item.time}}"></span> |
      <p ng-hide="!item.text">{{item.text | trustHtml}}</p>
    </section>
  </div>

  <div class="ask" ng-if="item.type=='ask'">
    <header>
      <a class="title" ng-href="{{item.url}}">{{item.title}}</a>
      <span class="domain">({{item.url | domain}})</span>
    </header>
    <section>
      {{item.score}} points by
      <a ui-sref="user({userID: item.by})">{{item.by}}</a>
      <span time-ago="{{item.time}}"></span> |
      <a ui-sref="discussion({discussionID: item.id})">{{item.descendants | commentsNumber}}</a>
    </section>
    <section ng-hide="!item.text" ng-bind-html="item.text | trustHtml"></section>
  </div>

  <div class="poll" ng-if="item.type=='poll'">
    <header>
      <a class="title" ng-href="{{item.url}}">{{item.title}}</a>
      <span class="domain" ng-show="item.url">({{item.url | domain}})</span>
    </header>
    <section>
      <span>{{item.score}} points</span> by
      <a ui-sref="user({userID: item.by})">{{item.by}}</a>
      <span time-ago="{{item.time}}"></span> |
      <a ui-sref="discussion({discussionID: item.id})">{{item.descendants | commentsNumber}}</a>
    </section>
    <section ng-hide="!item.text" ng-bind-html="item.text | trustHtml"></section>
    <li ng-repeat="part in item.parts">{{part}}</li>
  </div>
</div>