@import '../../var.scss';

.main-nav {
  background: nth($colors, 7);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  a {
    padding: 10px 20px;
    font-size: 12px;
    font-family: monospace;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: nth($colors, 4);

    &:hover,
    &:focus {
      color: nth($colors, 1);;
    }

    &.active {
      color: nth($colors, 7);
      background: nth($colors, 1);
    }
  }
}