@import '../../var.scss';

.main-nav {
  background-color: nth($colors, 7);
  position: fixed;
  width: 100%;
  height: 35px;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    @extend %secondary-font;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: nth($colors, 4);
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:focus {color: nth($colors, 1)}

    &.active {
      background-color: nth($colors, 1);
      color: nth($colors, 7);
    }
  }
}